.oddcard-greenbg{
    background-color:#C5F8C7;

}
.evencard-greenbg{
  background-color: #7ABD87;
}
.oddcard-greenbtn{
    background-color: #4CAF50;
}
.evencard-greenbtn{
    background-color: #609B6C;
}
